$bears-primary: #0b162a;
$bears-secondary: #c83803;
$packers-primary: #203731;
$packers-secondary:#FFB612;
$vikings-primary: #4f2683;
$vikings-secondary: #FFC62F;
$lions-primary: #0076b6;
$lions-secondary:#B0B7BC;
$nfc-blue: #003b66;

@font-face {
  font-family: Bayformance;
  src: url("fonts/Bayformance.otf");
}

@font-face {
  font-family: Nordic;
  src: url("fonts/Nordic.ttf");
}

@mixin team-layout($primary, $secondary, $img-path) {
  background-color: $primary;
  background-image: url("../images/#{$img-path}");

  .team-logo,
  .player-name {
    background-color: $primary;
  }

  .slick-prev:before,
  .slick-next:before {
    color: $secondary;
  }
}

* {
  margin: 0;
  padding: 0;
}

html {
  background-image: url('../images/bkgnd-north.jpg');
  background-attachment: fixed;
}

main {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #eeeeee;
  font-family: Bayformance;

  h1 {
    text-align: center;
    width: 100%;
    color: $nfc-blue;
    font-size: 70px;
    background-color: darken(#eeeeee, 10%);
    padding: 10px 0;
    font-family: Nordic;
  }

  .container {
    display: inline-block;
    width: 400px;
    height: 550px;
    position: relative;
    margin: 40px;
    border-radius: 10px;

    .team-logo {
      width: 75px;
      height: 75px;
      position: absolute;
      margin: 15px;
      border-radius: 50%;
      z-index: 2;

      img {
        margin: 12.5px auto;
        height: 50px;
        width: 50px;
        display: block;
      }
    }

    .slide {
      width: 400px;
    }

    .player-name {
      display: block;
      width: 400px;
      font-size: 60px;
      color: #eeeeee;
      text-align: center;
      line-height: 100px;
    }

    .player-image {
      margin-top: 25px;
      width: 400px;
      height: 400px;
      position: relative;
    }
  }

  #nfc-logo-wrapper {
    width: 100%;

    img {
      display: block;
      margin: 0 auto;
      width: 300px;
      height: 300px;
    }
  }

  #bears {
    @include team-layout($bears-primary, $bears-secondary, 'icon-bears-circle.svg');
  }

  #packers {
    @include team-layout($packers-primary, $packers-secondary, 'icon-packers-plus.svg');
  }

  #vikings {
    @include team-layout($vikings-primary, $vikings-secondary, 'icon-vikings-cross.svg');
  }

  #lions {
    @include team-layout($lions-primary, $lions-secondary, 'icon-lions-square.svg');
  }
}